@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1c1917;
}

.no-spinner {
  -moz-appearance: textfield;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
