@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --primary: black;
  --secondary: black;
  --tertiary: black;
  background-color: var(--primary);
}

* {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, outline-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade-in-content {
  animation: 0.15s fade-in ease-in-out;
}

.fade-in {
  animation: 0.5s fade-in ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slick-slide {
  transform: translateY(-1.5px);
}
